{% extends 'components/layouts/base.html' %}

{% block content %}
    <div>
        <p class="text-justify p-3 mb-2">
            <strong>XML Scraper is a Flask web application written in Python.</strong>
            Application renders uploaded XML file and with client parameters renders data in structual way which then can be downloaded as json file.
        </p>
        <hr>
        <p class="text-justify p-3 mb-2 text-secondary">
            We recomend poppler for converting pdf into xml. Command: pdftohtml -xml -i file.pdf file.xml</br></br>
            Option -xml forms xml page</br>
            Option -i ignores the images</br></br>
            Additional options:</br>
            -f xxx from what page you want to start</br>
            -l xxx what page you want it to be the last one
        </p>
    </div>
{% endblock %}
