{% extends 'components/layouts/base.html' %}

{% block content %}
    <input type="hidden" name="file-name" value="{{ context.file_name }}"/>

    <div class="dropdown container-fluid p-3 mb-2">
        <button 
            class="btn btn-success dropdown-toggle" 
            style="float: right;" 
            type="button" 
            id="dropdownMenuButton" 
            data-bs-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
        >
            Download Structured Data
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="/download/{{ context.file_name }}/json" target="_blank">
                <button class="download-btn btn btn-light">JSON</button>
            </a>
            <a href="/download/{{ context.file_name }}/csv" target="_blank">
                <button class="download-btn btn btn-light">CSV</button>
            </a>
            <a href="/download/{{ context.file_name }}/excel" target="_blank">
                <button class="download-btn btn btn-light">EXCEL</button>
            </a>
        </div>
    </div>

    <div class="container-fluid p-3 mb-2">
        <div class="row justify-content-start">
            <div class="col-12">
                <!--Left column-->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Content</th>
                                <th scope="col">Author(s)</th>
                                <th scope="col">Datetime</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for abstract in context.structural_data %}
                                <tr>
                                    <th scope="row">{{ abstract['title'] }}</th>
                                    <td>{{ abstract['content'] }}</td>
                                    <td>{{ abstract['author'] }}</td>
                                    <td>{{ abstract['abstraction_datetime'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}