{% extends 'components/layouts/base.html' %}

{% block content %}
    <div class="dropdown container-fluid p-3 mb-2">
        <button 
            class="btn btn-success dropdown-toggle" 
            style="float: right;" 
            type="button" 
            id="dropdownMenuButton" 
            data-bs-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
        >
            Download Structured Data
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form id="download-form" method="POST" enctype="multipart/form-data">
                <a id="download-json" class="dropdown-item" href="#">JSON</a>
                <a id="download-excel" class="dropdown-item" href="#">EXCEL</a>
                <a id="download-csv" class="dropdown-item" href="#">CSV</a>
            </form>
        </div>
    </div>
    <!--<input type="submit" class="btn btn-success" style="float: right;" value="Download Structured Data" onclick="loading();"/>-->

    <div class="container-fluid p-3 mb-2">
        <div class="row justify-content-start">
            <div class="col-4">
                <!--Left column-->
                {{ context.data | safe }}
            </div>
            <div class="col-8">
                <!--Right column-->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Content</th>
                                <th scope="col">Author(s)</th>
                                <th scope="col">Abstraction datetime stamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for abstract in context.structural_data %}
                                <tr>
                                    <th scope="row">{{ abstract['title'] }}</th>
                                    <td>{{ abstract['content'] }}</td>
                                    <td>{{ abstract['author'] }}</td>
                                    <td>{{ abstract['abstraction_datetime'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            /* --------------------- */
            /* ----- LISTENERS ----- */
            /* --------------------- */
            $('a#download-json').bind('click', function() {
                $('form#download-form').attr('action', 'download/json').submit();
            });

            $('a#download-excel').bind('click', function() {
                $('form#download-form').attr('action', 'download/excel').submit();
            });

            $('a#download-csv').bind('click', function() {
                $('form#download-form').attr('action', 'download/csv').submit();
            });
        });

    </script>
{% endblock %}